@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-lifted.tab-active:not(.tab-disabled):not([disabled]) {
  background-color: hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity));
  border-width: var(--tab-border, 1px) var(--tab-border, 1px) 0
    var(--tab-border, 1px);
  border-left-color: var(--tab-border-color);
  border-right-color: var(--tab-border-color);
  border-top-color: var(--tab-border-color);
  padding-left: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
  padding-right: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
  padding-bottom: var(--tab-border, 1px);
  padding-top: 0;
}
